<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.min.css">
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>

      
      <div class="d-flex">
        <div class="sidebar w-30 bg-tertiary vh-100">
          <div class="h-100 d-flex flex-column justify-content-between">
            
            <div class="bg-primary pt-5">
              <div class="d-flex flex-column  p-5 mb-5">
                <a class="mb-5" href="./index.html">
                  <h1 class="logo"></h1>
                </a>
                <p class="text-white">說走就走 | | 車道地圖整合</p>
              </div>
              
            <nav class="nav d-flex flex-column w-100">
              <a class="nav-link d-flex link-dark bg-secondary py-5 w-100" aria-current="page" href="#">
                <p class="text-dark fw-bold">自行車站點</p>
              </a>
              <a class="nav-link d-flex link-dark bg-success py-5 w-100 " href="#">
              <p class="text-dark fw-bold">自行車道路線</p>
              </a>            
            </nav>
        
            </div>
           
              <div class="bg-tertiary w-100">
                <p class="h5 p-4">@2021 natsu y. All Rights Reserved</p>
              </div>
              
          </div>
        </div>

    <%- contents %>

  </div>

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.css.min.js"></script>
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script src="./assets/js/vendors.js"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.2.0/sha.js"></script>
      <script src="./assets/js/all.js"></script>
  </body>

</html>