
//bg-attachment-fixed
.bg-attachment-md-fixed{
  @include media-breakpoint-up(md) {
  background-attachment: fixed;
  }
}

// text-shadow
.text-shadow{
  text-shadow: 0.05em 0.08em 5px $dark;
}

.box-shadow{
  box-shadow:0px 0px 30px rgba($black,0.7) !important ;
}

.box-shadow-none{
  box-shadow:none !important;
}

//placeholder color

.placeHolderColor{
  &::placeholder{
    color: rgba($white,0.8);
  }
}


//media-breakpoint-down md
@include media-breakpoint-down(md) {
  .d-md-down-none{
    display: none;
  }
}

// breakpoint
@include media-breakpoint-up(md) {
  .text-md-white{
    color: $white !important;
  }
  .h-md-640{
    height: 640px;
  }
}

@include media-breakpoint-up(lg) {
  .text-lg-white{
    color: $white !important;
  }
}




